*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:rgb(211, 240, 241);
    
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared styles for header and nav */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
   
}
.btn{
   
    border: none;
    background-color: orange;
    border-radius: 5px;
 
    color: white;
    font-size: 20px;
    height: 55px;
    width: 170px;
    cursor: pointer;
}
logo h2{
    font-size: 45px;;
}
nav{
    width:71%;
    max-width: 1120px;
  /*   border: 1px solid red; */
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: 474747;

}

/* shared styles */
.text-center{
    text-align: center;
}

.section-heading{
    text-align: center;
    max-width: 827px;
    margin: 0px auto;
    font-size: 35px;
   
  

}
.section-heading h2{
    line-height: 35px;
    padding-bottom: 30px;
}
#about .section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color:#757575;
    

}



#banner{
  /*   border: 1px solid blue; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width:585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semi-bold;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    color:#181818;
    margin-bottom: 20px;
   
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
} 
#banner .banner-image img{
    max-width: 585px;
    max-height: auto;
}

#about,#skills, #resume{   
  
    padding: 130px 230px;
}

#about .about-container{
    padding: 131px 156px;

    width:71%;
    max-width: 1120px;
   margin: 0px auto;
   text-align: center;
   background-color: #FFF8F3;
   


}
#about .about-container .info-card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;

}
#about .about-container .info-card .card p{
    font-size: 20px;
    color:#757575;
  

}

#about .about-container .info-card .card h4{
    font-size: 20px;
   
    
}

#skills{
    
    padding-top: 130px;
    background-color: #faf6f6; 
}

#skills .skills-container{
    padding: 131px 156px;
    width:71%;
    max-width: 1120px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;

}

.skill-container .section-heading p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}



.skill-container .skill-info{
    
    width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;
    text-align: left;
}
.skill-container .skill-info .skill{
    font-size: 16px;;
    
    background-color: #FFF8F3;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 6px 50px 0 #a8a8ae;
}
.skill-container .skill-info .skill h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.skill-container .skill-info .skill img{
    max-width: 44px;
    margin-bottom: 20px;
}

.resume-container{
    display: flex;
    width:71%;
    max-width: 1120px;
    margin: 113px auto 0;
    text-align: left;
    gap: 24px;
   

}
.resume-container h2{
    font-size: 30px;
    margin-bottom: 33px;
}
.resume-container .resume-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-container .resume-subtitle{
    font-size: 20px;
    color: #757575;         
    margin-bottom: 20px;
 
}
.resume-container .resume-description{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}
.education-box,.experience-box{
    max-width: 511px;
    margin-right: 47px;
    
}
.resume-container hr{

    margin: 30px 0;;
}