*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
 /*    background-color:rgb(211, 240, 241); */
    
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared styles for header and nav */
header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
   
}
.btn{
   
    border: none;
    background-color: orange;
    border-radius: 5px;
 
    color: white;
    font-size: 20px;
    height: 55px;
    width: 170px;
    cursor: pointer;
}
logo h2{
    font-size: 45px;;
}
nav{
    width:71%;
    max-width: 1120px;
  /*   border: 1px solid red; */
    margin: 0px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: 474747;

}


#banner{
  /*   border: 1px solid blue; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width:585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semi-bold;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    color:#181818;
    margin-bottom: 20px;
   
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
} 
#banner .banner-image img{
    max-width: 585px;
    max-height: auto;
}